.bg-warning {
	background-color: #ffc107 !important;
}
.bg-danger {
	background-color: #dc3545 !important;
}
.bg-success {
	background-color: #28a745 !important;
}
.bg-info {
	background-color: #17a2b8 !important;
}
.bg-secondary {
	background-color: #6c757d !important;
}
.bg-light {
	background-color: #f8f9fa !important;
}
