// ! from libs
@import "./bs4";
@import "../../node_modules/nprogress/nprogress.css";
@import "./react-tagsinput.scss";
// ! internals
@import "./animations";
// @import "./css-reset";
@import "./fonts";
// @import "./bg";

// !------------------
* {
	box-sizing: border-box;
}

body {
	font-family: IRANSansWeb !important;
	direction: rtl;
	min-height: 100vh;
	height: auto;
	// background-color: #313131;
	color: black;
	height: 100%;
}

#__next {
	height: 100%;
}

h1 {
	margin: 0;
}

a {
	text-decoration: none;
	color: unset;
}

.line {
	width: 100%;
	height: 1px;
	background: #aca4a4;
	margin: 12px 0;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

.cursor-pointer {
	cursor: pointer;
}

.c-p {
	cursor: pointer;
}

.disable {
	cursor: wait;
	opacity: 0.4;
}

.disable-all {
	cursor: wait;
	opacity: 0.4;
	* {
		opacity: 0.4;
	}
}

.touch-off {
	pointer-events: none;
}

.justify-content-evenly {
	justify-content: space-evenly !important;
}

button[disabled],
input[disabled] {
	cursor: not-allowed;
}

i.fa-clone {
	cursor: copy;
}

.justify-constent-evenly {
	justify-content: space-evenly;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

#making-color {
	color: #f5f6fa;
}

input::placeholder {
	font-family: IRANSansWeb !important;
}
