
.icon-key:before { content: '\e800'; } /* '' */
.icon-miz-logo:before { content: '\e801'; } /* '' */
.icon-trash:before { content: '\e802'; } /* '' */
.icon-drop-arrow:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-tasks:before { content: '\e805'; } /* '' */
.icon-password-logo:before { content: '\e807'; } /* '' */
.icon-prof-logo:before { content: '\e808'; } /* '' */
.icon-pen:before { content: '\e809'; } /* '' */
.icon-bag:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-header-logo:before { content: '\e80c'; } /* '' */
.icon-copy:before { content: '\e80d'; } /* '' */
.icon-check:before { content: '\e80e'; } /* '' */